
  <h2>Resend unlock instructions</h2>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field form-group col-xs-7">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: 'form-control', autofocus: true %>
    </div>

    <div class="actions col-xs-7 ">
      <%= f.submit "Resend unlock instructions", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="col-xs-7">
    <%= render "devise/shared/links" %>
  </div>
