<div class="text-right" style="padding-right: 10px;">
  <% if user_signed_in? %>
    <div class="login">
      Logged in as <strong><%= current_user.username %></strong><br>
      <%= link_to 'Edit profile | ', edit_user_registration_path %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </div>
  <% else %>
    <div class="login">
      <%= link_to "Sign Up | ", new_user_registration_path %>
      <%= link_to "Login", new_user_session_path %>
    </div>
  <% end %>
</div>

<div class="container" style="position: relative; width: 85%; height: 85%;">


  <div class="jumbotron" >
    <div class="container" style="position: relative; width: 85%; height: 85%;">
      <label for="year">Year</label>
      <input type="range" min="1965" max="2012" value="1965" id="fader" step="1" oninput="outputUpdate(value)">
      <output for="fader" id="year">1965</output>
    </div>
    <div class="row">
      <div class="col-xs-3" >

      </br></br></br></br>
        <b>Select Crime Rate</b><br/>
        <%= render "home/form" %>
        <!-- <input type="radio" name="radios1" value="1">Violent Crime</br>
        <input type="radio" name="radios1" value="2">Murder/Manslaughter</br>
        <input type="radio" name="radios1" value="3">Forcible Rape</br>
        <input type="radio" name="radios1" value="4">Robbery</br>
        <input type="radio" name="radios1" value="5">Aggravated Assault</br>
        <input type="radio" name="radios1" value="6">Property Crime</br>
        <input type="radio" name="radios1" value="7">Burglary</br>
        <input type="radio" name="radios1" value="8">Larceny Theft</br>
        <input type="radio" name="radios1" value="9">Motor Vehicle Theft</br> -->
      </div>
      <div class="col-xs-9" id="container"></div>
    </div>
  </div>
</div>
