<% if user_signed_in? %>
  <div class="">
    Logged in as <strong><%= current_user.username %></strong>.<br>
    <%= link_to 'Edit profile | ', edit_user_registration_path %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </div>
<% else %>
  <div class="">
    <%= link_to "Sign Up | ", new_user_registration_path %>
    <%= link_to "Login", new_user_session_path %>
  </div>
<% end %>

<div class="container" style="position: relative; width: 85%; height: 85%;">
  <label for="year">Year</label>
  <input type="range" min="1960" max="2012" value="1960" id="fader" step="1" oninput="outputUpdate(value)">
  <output for="fader" id="year">1960</output>
</div>

<div id="container" style="position: relative; width: 85%; height: 85%;"></div>
